 body {
     
      background-image: url('../image/rro.jpg');
      
      background-position:top;
      background-repeat: initial;
  }

  input[type=submit]{
    width: 10%;
    background-color: #345f7a;
    color: white;
    border: 2px solid  #345f7a;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    margin: 4px 30px 0px;
    }
    h1{
      color: aliceblue;
     
      width: 140px;
      padding: 9px 22px;
      font-size: 40px;
      color: white;
      align-items: center;
      justify-content: center;
      height: 50vh;
      margin: 0;
      
    }


 